// Overwolf Colors
$pink: #E6004C;
$purple-white: #F4F2FF;
$purple-gray: #958fb2;
$purple: #484266;
$purple-black: #161326;

// Google Color
$color-google: #dd4b39;
$color-facebook: #3b5998;
$color-discord: #7289da;